/Verslag/*.gz
/Verslag/*.aux
/Verslag/*.log
/Verslag/Jacobs-Uyttendaele.pdf
/Perseus/pomdpSoftware-0.1/problems/hallway2/*.mat
/dmuu/yourcode_new/*.asv
/dmuu/yourcode_graphical_scripts/*.asv
/MAS-3/Verslag/Jacobs-Uyttendaele.aux
/MAS-3/Verslag/Jacobs-Uyttendaele.log
/MAS-3/Verslag/Jacobs-Uyttendaele.out
/MAS-3/Verslag/Jacobs-Uyttendaele.synctex.gz
/MAS-3/Verslag/Jacobs-Uyttendaele.toc
/MAS-3/Verslag/Jacobs-Uyttendaele.dvi

/MAS-3/Matlab/Output/207planes-b.mat
/MAS-3/Matlab/Output/2planes-b.mat
/MAS-3/Matlab/Output/3planes.mat
/MAS-3/Matlab/Output/3planes-b.mat
/MAS-3/Matlab/Output/4planes.mat
/MAS-3/Matlab/Output/4planes-b.mat
